html {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-weight: 700;
}
.dialog {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    background-color:rgba(0, 0, 0, 0.8);
    color: White;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    z-index: 1;
}
.dialog.closed {
    top: -100em;
}
.dialog > h2 {
    padding: 5em 0 1em 0;
}
.dialog > h2, .dialog button {
    margin: 0 auto;
}
.buttons {
    display: flex;
    align-items: center;
}
.tidal {
    display: flex;
    flex-direction: column;
}
button {
    color: #fff;
    background-color: Transparent;
    letter-spacing: .5px;
    border: 1px solid White;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    margin: 1em .2em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
}
button:hover {
    cursor: pointer;
}
.hide-overflow {
    overflow-y: hidden;
}
header {
    background-color: #00dcf1;
    color: White;
    width: 100%;
    padding: 1em 0;
    text-align: center;
}
header a {
    text-decoration: none;
    color: White;
    padding: .5em;
    font-weight: 300;
}
video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -100;
    background: url(/img/background.png) no-repeat;
    background-size: cover;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/background.png);
    color: White;
    height: 24em;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 7em 2em 2em 2em;
    text-align: center;
}
.clock {
    display: flex;
    font-size: 3em;
    font-weight: 600;
}
.clockLabel {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}
.welcome {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: White;
    padding: 3em 3em 6em 3em;
}
.events {
    padding: 0 3em 1em 3em;
    background-color: White;
}
.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em 3em 5em 2em;
    background-color: #e7e4db;
}
.banner img {
    border-radius: 150px;
}
.cards {
    display: flex;
    flex-direction: column;
    background-color: White;
    padding: 3em 2em 3em 2em;
}
.card {
    margin: 1em;
    background-color: #1DADEB;
    color: White;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 1em;
}
.page {
    padding: 3em 13em;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 3em;
    min-height: 10em;
    background-color: #e7e4db;
    color: Black;
}
footer div {
    width: 19em;
}
footer img {
    width: 6em;
    height: 4em;
}
.animate {
    transition: all 1s;
}
.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}
@media (min-width: 50em) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2em;
    }
    .hero {
        background-image: none;
        height: 30em;
    }
    .clock {
        font-size: 7em;
    }
    video {
        display: block;
    }
    .cards {
        flex-direction: row;
    }
    .cards:first-child {
        margin-left: 0em;
    }
    .cards:last-child {
        margin-right: 0em;
    }
}
