html {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
body {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-weight: 300;
    margin-top: 0;
}
p {
    line-height: 1.6em;
}
.dialog {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    background-color:rgba(0, 0, 0, 0.8);
    color: White;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.dialog.closed {
    top: -100em;
}
.dialog > h2 {
    padding: 5em 0 1em 0;
}
.dialog > h2, .dialog button {
    margin: 0 auto;
}
.buttons {
    display: flex;
    align-items: center;
}
.tidal {
    display: flex;
    flex-direction: column;
}
a.button {
    color: initial;
    background-color: Transparent;
    letter-spacing: .5px;
    border: 1px solid Black;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    margin: 1em .2em;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    text-decoration: none;
}
.hero a.button {
    color: White;
    border: 1px solid White;
}
a.button:hover {
    cursor: pointer;
}
.hide-overflow {
    overflow-y: hidden;
}
header {
    background-color: #00dcf1;
    color: White;
    width: 100%;
    padding: 1em 0;
    text-align: center;
}
header a {
    text-decoration: none;
    color: White;
    padding: .5em;
    font-weight: 300;
}
video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -100;
    background: url(/img/background.png) no-repeat;
    background-size: cover;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/background.png);
    color: White;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 4em 0;
    text-align: center;
}
.hero h2 {
    margin: 0;
}
.clock {
    display: flex;
    font-size: 3em;
    font-weight: 600;
}
.clockLabel {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}
.welcome {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    background-color: White;
    padding: 4% 20%;
    border-top: 5px solid #FDBDFF;
}
.welcome p {
    padding-bottom: 3em;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.projects-wrapper {
    opacity: 0.8; /*watwat? transparency on whole div? */
    background-color: #BFF6F9;    
    /*background-color: #FED6FF;
    border-top: 5px solid #FDBDFF; //pink colour codes from earlier version*/
    padding: 2em 20% 4em 20%;
}
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projects {
    margin-top: 1em;
}
.projects img {
    width: 168px;
}
.project {
    width: 10em;
}
.cards-wrapper {
    padding: 0 20%;
    background-color: White;
}
.cards {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.card {
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 0 2em 1em 0;
}
.card img {
    width: 100%;
}
.card p {
    margin: 1em;
}
.poll-wrapper {
    padding: 6em 20%;
    background-color: White;
    display: flex;
    flex-direction: column;
}
.about-wrapper {
    text-align: center;
    background-image: url("/img/aboutbackground.png");
    background-size: 100%;
    padding: 3em 20%;
    height: 22em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.poll {
    display: flex;
    justify-content: space-around;
}
.poll p {
    width: 100%;
}
.poll .os_poll {
    width: 500%;
    padding: 2em 0 0 4em;
}
.os_poll {
    width: 100%;
}
.patient-cases {
    padding: 0 20%;
}
.patient-cases .nav {
    display: flex;
    justify-content: flex-end;
}
.patient-cases .experts {
    display: flex;
    flex-wrap: wrap;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 3em 20%;
    min-height: 5em;
    background-color: #e7e4db;
    color: Black;
}
footer p {
    width: 19em;
}
footer img {
    width: 6em;
    height: 4em;
}
.animate {
    transition: all 1s;
}
.hidden {
    top: -50em;
}
.visible {
    vertical-align: right;
    opacity: 1;
}
@media (min-width: 50em){
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 2em;
    }
    .hero {
        min-height: 35em;
        background-image: none;
    }
    .clock {
        font-size: 7em;
    }
    video {
        display: block;
    }
    .welcome {
        padding: 2em 20%;
    }
    .cards {
        flex-direction: row;
        justify-content: space-between;
    }
    .card:first-child {
        width: 25%;
    }
    .card:last-child {
        width: 40%;
    }
    .poll-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .about-wrapper {
        height: 16em;
    }
}
