h1 {
    color: #003B4F;
    margin-top: 20px;
    font-family: "Helvetica";
}
.wrapper {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}
.pagecontent {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 60px;
}
p {
    font-family: "Helvetica";
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #e7e4db;
}
.footer, .push {
    height: 4em;
}
